MYSQL_URL=jdbc:mysql://localhost:3316/vetautet
MYSQL_USER=root
MYSQL_PASSWORD=root1234
REDIS_HOST=127.0.0.1
REDIS_PORT=6319
REDIS_PASSWORD=
REDISSON_MODE=single
REDIS_SENTINEL_MASTER=mymaster
REDIS_SENTINEL_NODES=redis://localhost:26379,redis://localhost:26380,redis://localhost:26381
